<a href="https://colab.research.google.com/github/InSange/Python/blob/main/03_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0_%EA%B3%BC%EC%A0%9C_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 03_자료구조

### 문제1
(1) 사과, 바나나, 레몬, 오렌지, 망고 원소를 담고 있는 리스트를 선언해보세요. (리스트 이름은 'fruit')

In [ ]:
fruit = ['사과', '바나나', '레몬', '오렌지', '망고']
# print(fruit)
fruit

['사과', '바나나', '레몬', '오렌지', '망고']

(2) 인덱싱을 통해 '바나나'를 출력하세요.

In [ ]:
fruit[1]
# fruit

'바나나'

(3) 슬라이싱을 통해 '사과', '레몬', '망고'만 출력하세요.

In [ ]:
fruit[::2]

['사과', '레몬', '망고']

(4) fruit 리스트에서 '바나나'를 '딸기'로 변경한 뒤, 리스트를 출력하세요.

In [ ]:
fruit[1] = '딸기'
fruit

['사과', '딸기', '레몬', '오렌지', '망고']

### 문제2
다음과 같이 리스트 fruit에 데이터를 추가하려고 합니다.
> fruit = ['사과', '바나나', '레몬', '오렌지', '망고']

(1) append를 이용해서 '메론'을 리스트에 추가하고 리스트를 출력하세요.

In [ ]:
fruit = ['사과', '바나나', '레몬', '오렌지', '망고']

fruit.append('메론')
fruit

['사과', '바나나', '레몬', '오렌지', '망고', '메론']

(2) insert를 이용해서 '사과'와 '바나나' 사이에 '딸기'를 추가한 뒤, fruit 리스트를 출력하세요.

In [ ]:
fruit.insert(1, '딸기')
fruit

['사과', '딸기', '바나나', '레몬', '오렌지', '망고', '메론']

### 문제3
다음과 같이 리스트 cafe에 데이터를 추가하려고 합니다.
> cafe = ['coffee', 'tea', 'water']

(1) append를 이용하여 리스트 ['juice', 'latte']를 cafe 리스트에 추가한 뒤, cafe를 출력해보세요.

In [ ]:
cafe = ['coffee', 'tea', 'water']

cafe.append(['juice', 'latte'])
cafe

['coffee', 'tea', 'water', ['juice', 'latte']]

(2) 이번에는 extend를 이용하여 리스트 ['juice', 'latte']를 처음 cafe 리스트에 추가한 뒤, cafe를 출력해보세요.

In [ ]:
cafe = ['coffee', 'tea', 'water']

cafe.extend([['juice','latte']])
# cafe.extend(['juice','latte'])
cafe

['coffee', 'tea', 'water', ['juice', 'latte']]

### 문제4
다음과 같이 리스트 subject에서 데이터를 삭제하려고 합니다.
> subject = ['math', 'english', 'art', 'korean', 'music', 'science']

(1) remove를 사용하여 'korean'을 삭제한 뒤, 리스트를 출력하세요.

In [ ]:
subject = ['math', 'english', 'art', 'korean', 'music', 'science']

subject.remove('korean')
subject

['math', 'english', 'art', 'music', 'science']

(2) del를 사용하여 'art'를 삭제한 뒤, 리스트를 출력하세요.

In [ ]:
del subject[2]

subject

['math', 'english', 'music', 'science']

(3) pop을 사용하여 'science'를 새로운 변수에 저장한 뒤, 그 변수와 subject 리스트를 출력해보세요.

In [ ]:
s = subject.pop(-1)

s, subject

('science', ['math', 'english', 'music'])

### 문제5
다음과 같이 무작위 정수가 들어 있는 리스트가 있다.
> num = [33, 53, 78, 23, 4, 64, 93, 80]

(1) sort를 이용하여 num 리스트를 오름차순 정렬한 뒤, 리스트를 출력해보세요.

In [ ]:
num = [33, 53, 78, 23, 4, 64, 93, 80]

num.sort()
num

[4, 23, 33, 53, 64, 78, 80, 93]

(2) sorted를 이용하여 오름차순으로 정렬한 num을 새로운 리스트 'new'에 저장한 뒤, new 리스트를 출력해보세요.

In [ ]:
num = [33, 53, 78, 23, 4, 64, 93, 80]
new = sorted(num)

new, num

([4, 23, 33, 53, 64, 78, 80, 93], [33, 53, 78, 23, 4, 64, 93, 80])

### 문제6
다음과 같이 리스트 color가 있다.
> color = ['yellow', 'red', 'blue', 'red', 'green', 'pink', 'yellow']

(1) len을 이용하여 color 리스트 안에 데이터가 몇 개 들어있는지 출력해보세요.

In [ ]:
color = ['yellow', 'red', 'blue', 'red', 'green', 'pink', 'yellow']

len(color)

7

(2) index()를 이용하여 'pink' 데이터가 몇 번째 요소에 있는지 출력해보세요.

In [ ]:
# color.index('pink')
color.index('yellow')

0

### 문제7
다음과 같이 리스트 nation이 있다.
> nation = ['Korea', 'Japan', 'China']

(1) nation 리스트를 튜플 자료형으로 바꾼 뒤 출력해보세요.

In [ ]:
nation = ['Korea', 'Japan', 'China']

nation_t = tuple(nation)
nation_t

('Korea', 'Japan', 'China')

(2) nation에서 'Japan'을 인덱싱 해서 출력해보세요.

In [ ]:
# nation[nation.index('Japan')], nation.index('Japan')
nation_t[1], nation_t[nation.index('Japan')], nation_t.index('Japan')

('Japan', 'Japan', 1)

### 문제8
다음과 같이 리스트 fruit이 있습니다.
> fruit = ['사과', '바나나', '레몬', '사과', '체리', '바나나']

(1) fruit 리스트를 set으로 변환하여 새로운 변수 'fruit_set'에 저장한 뒤 이를 출력해보세요.

In [ ]:
fruit = ['사과', '바나나', '레몬', '사과', '체리', '바나나']

fruit_set = set(fruit)
fruit_set

{'레몬', '바나나', '사과', '체리'}

(2) fruit_set에 add 함수를 사용하여 '망고'를 추가한 뒤, 출력해보세요. (추가된 위치도 확인해보세요~)

In [ ]:
fruit_set.add('망고')
fruit_set

{'레몬', '망고', '바나나', '사과', '체리'}

### 문제9
다음과 같이 음료 이름과 가격 데이터가 담긴 딕셔너리 menu가 있습니다.
> menu = {'커피' : 3000, '차' : 4000, '쉐이크' : 5000}

(1) keys()를 사용하여 menu 딕셔너리의 key만 출력해보세요.

In [ ]:
menu = {'커피' : 3000, '차' : 4000, '쉐이크' : 5000}

menu.keys()

dict_keys(['커피', '차', '쉐이크'])

(2) values()를 사용하여 menu 딕셔너리의 value만 출력해보세요.

In [ ]:
menu.values()

dict_values([3000, 4000, 5000])