<a href="https://colab.research.google.com/github/InSange/Python/blob/main/04_%EC%A1%B0%EA%B1%B4%EB%AC%B8_%EA%B3%BC%EC%A0%9C_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 04.조건문(Condition)

## 복습해볼까요?(1단계)

### 문제1
다음과 같이 변수 a, b가 있을 때, a가 b보다 크면 'a가 b보다 큽니다'를 출력하는 코드를 작성하세요.

In [ ]:
a = 20
b = 10

if a > b:
    print("a가 b보다 큽니다")

a가 b보다 큽니다

### 문제2
이번에는 a가 b보다 크거나 같을 때 'a가 b보다 크거나 같다'를 출력하고, 그렇지 않다면 'b가 a보다 크다'를 출력하는 코드를 작성하세요.

In [ ]:
import random

a, b = random.randrange(1,10), random.randrange(1,10)

print(a, b)

if a > b or a == b:
    print('a가 b보다 크거나 같다.')
else:
    print('b가 a보다 크다')

3 8
b가 a보다 크다

### 문제3
다음과 같이 변수 num1, num2이 있을 때,

num1이 num2보다 크면 'num1이 더 큽니다'를 출력하고,

num1과 num2의 값이 같으면 '두 값이 일치합니다'를 출력하고,

num1이 num2보다 작으면 'num2이 더 큽니다'를 출력하는 코드를 작성하세요.

In [ ]:
num1 = 512
num2 = 512

if num1 > num2:
    print('num1이 더 큽니다')
elif num1 == num2:
    print('두 값이 일치합니다')
else :
    print('num2이 더 큽니다')

두 값이 일치합니다

### 문제4
다음과 같이 문자열 데이터가 들어있는 변수 str1, str2가 있을 때, 

두 문자열이 일치하면 '텍스트가 일치합니다'를 출력하고, 

일치하지 않을 땐 '텍스트가 일치하지 않습니다'를 출력하는 코드를 작성하세요.

In [ ]:
str1 = '오늘 배울 내용은 04조건문 입니다!'
# str2 = '내일 배울 내용은 05반복문 입니다!'
str2 = '오늘 배울 내용은 04조건문 입니다!'

if str1 == str2:
    print('텍스트가 일치합니다')
else:
    print('텍스트가 일치하지 않습니다')

텍스트가 일치합니다

### 문제5
'and' 연산자와 'or' 연산자를 통해 if문의 조건식을 여러 개 만들 수 있습니다.

다음과 같이 변수 num이 있을 때, 1보다 크고 100보다 작으면 'pass'를 출력하는 코드를 작성해보세요.

In [ ]:
# 힌트 : 조건식 부분에 1 < num and num < 100 입력
num = 55

if num > 1 and num < 100 :
    print('pass')

pass

## 난이도업!(2단계)

### 문제1
다음과 같이 주민번호가 담긴 문자열이 있다.

여성의 주민번호일 때 '여성'을 출력하고, 남성의 주민번호일 땐 '남성'을 출력하는 코드를 작성하세요.

(7번째 짜리 숫자가 1이면 남자, 2는 여자)

In [ ]:
id = '210101-1231234'
print(id[7], type(id[7]))
if int(id[7]) == 1:
    print('남성')
else:
    print('여성')

1 <class 'str'>
남성

### 문제2
다음과 같이 전화번호가 담긴 문자열이 있다.

앞 3자리가 '031'로 시작하면 '수원시 전화번호입니다'를 출력하고,

앞 3자리가 '032'로 시작하면 '인천시 전화번호입니다'를 출력하는 코드를 작성하세요.

In [ ]:
# number = '031-123-1234'
number = '032-123-1234'

print(number[:3], type(number[:3]))
if number[:3] == '031':
    print("수원시 전화번호입니다")
elif number[:3] == '032':
    print("인천시 전화번호입니다")

032 <class 'str'>
인천시 전화번호입니다

### 문제3
다음과 같이 리스트가 있을 때, 리스트 안에 데이터가 1개 이상이면 '리스트 안에 데이터는 총 __개 입니다'를 출력하고,

데이터가 0개면 '리스트 안에 데이터가 없습니다'를 출력하는 코드를 작성하세요.

In [ ]:
# list = [10, 30, 20, 40, 32, 50, 55, 50, 32, 84, 40, 88, 99, 100]
# list = []
list = [1, 3, 5]

if len(list) >= 1:
    print('리스트 안에 데이터는 총', len(list),'개 입니다')
else:
    print('리스트 안에 데이터가 없습니다')

리스트 안에 데이터는 총 3 개 입니다

### 문제4
다음과 같이 이름, 나이, 성별이 담긴 리스트가 있다.

나이가 20살 이상일 때 '성인입니다'를 출력하는 코드를 작성하세요.

In [ ]:
id = ['홍길동', '24', '남자'] #현재 '24'는 문자열 데이터! => 자료형변환 필요

if int(id[1]) >= 20:
    print('성인입니다')

성인입니다

### 문제5
나이가 20살 이상일 때, 성별이 '남자'이면 '성인 남성입니다'를 출력하고,

성별이 '여자'이면 '성인 여성입니다'를 출력하는 코드를 작성하세요. 

(if문 이중으로 사용하기!)

In [ ]:
id = ['홍길순', '24', '여자']

if int(id[1]) >= 20:
    if id[2] == '남자':
        print('성인 남성입니다')
    elif id[2] == '여자':
        print('성인 여성입니다')

성인 여성입니다