<a href="https://colab.research.google.com/github/InSange/Python/blob/main/05_%EB%B0%98%EB%B3%B5%EB%AC%B8_%EA%B3%BC%EC%A0%9C_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 05.조건문(Loop)

## 복습해볼까요?(1단계)

### 문제1
for문을 이용하여 다음 리스트의 데이터를 하나씩 출력해보세요.

In [ ]:
nation = ['Korea', 'Russia', 'China', 'Japan']

for i in nation:
    print(i)

Korea
Russia
China
Japan

### 문제2
for문과 range()를 사용하여 0에서 10까지 출력해보세요.

In [ ]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

### 문제3
다음과 같이 정수 데이터가 들어있는 리스트가 있을 때, 50이하인 데이터만 출력해보세요.

In [ ]:
num = [30, 50, 90, 67, 43, 99, 2]

for i in num:
    if i <= 50:
        print(i)

30
50
43
2

### 문제4
다음과 같이 딕셔너리 데이터가 있을 때, .items()를 이용하여 key와 value를 출력해보세요.

In [ ]:
fruit = {'사과' : '빨강', '바나나' : '노랑', '수박' : '초록'}

for k, v in fruit.items():
    print('key:', k, ' value:', v)

key: 사과  value: 빨강
key: 바나나  value: 노랑
key: 수박  value: 초록

### 문제5
cnt = 1인 변수가 있다. while문을 사용하여 cnt의 값을 1씩 늘려 1부터 10까지 출력해보세요.

In [ ]:
cnt = 1

while cnt <= 10:
    print(cnt)
    cnt+=1

1
2
3
4
5
6
7
8
9
10

## 난이도업!(2단계)

### 문제1-1
for문과 enumerate()를 이용하여 아래와 같이 리스트의 데이터와 인덱스를 출력해보세요.

<출력결과>

0 번째 데이터 : 사과

1 번째 데이터 : 수박

...

In [ ]:
fruit = ['사과', '수박', '망고', '체리']

for n, d in enumerate(fruit):
    print(n,'번째 데이터:', d)

0 번째 데이터: 사과
1 번째 데이터: 수박
2 번째 데이터: 망고
3 번째 데이터: 체리

### 문제1-2
이번에는 enumerate() 대신 range(len(fruit))을 이용해서 위와 같이 출력해보세요.

In [ ]:
for i in range(len(fruit)) :
    print(i,'번째 데이터:', fruit[i])

0 번째 데이터: 사과
1 번째 데이터: 수박
2 번째 데이터: 망고
3 번째 데이터: 체리

### 문제2
다음과 같이 두 개의 리스트가 있을 때, zip()을 이용하여 아래와 같이 출력되도록 코드를 작성하세요.

<출력결과>

품목 : 과일 / 수량 : 5

품목 : 수박 / 수량 : 10

...

In [ ]:
fruit = ['사과', '수박', '망고', '체리']
val = [5, 10, 3, 4]

for f, n in zip(fruit, val):
    print('품목 :', f, '/ 수량 :', n)

품목 : 사과 / 수량 : 5
품목 : 수박 / 수량 : 10
품목 : 망고 / 수량 : 3
품목 : 체리 / 수량 : 4

### 문제3
다음과 같이 두 개의 리스트가 있을 때, enumerate()와 zip()을 이용하여 아래와 같이 출력되도록 코드를 작성하세요.

<출력결과>

1 번째 품목 : 과일 / 수량 : 5

2 번째 품목 : 수박 / 수량 : 10

...

In [ ]:
fruit = ['사과', '수박', '망고', '체리']
val = [5, 10, 3, 4]

for i, (f, n) in enumerate(zip(fruit, val)):
    print(i+1, '번째 품목 :', f, '/ 수량 :', n)

1 번째 품목 : 사과 / 수량 : 5
2 번째 품목 : 수박 / 수량 : 10
3 번째 품목 : 망고 / 수량 : 3
4 번째 품목 : 체리 / 수량 : 4

### 문제4-1
아래 두 리스트를 곱해 새로운 리스트 c를 만드세요  
a = [10,20,30,40,50,60]  
b = [2,3,4,5,6,7]  
c = [20,60,120,200,300,420]

In [ ]:
a = [10,20,30,40,50,60]  
b = [2,3,4,5,6,7] 
c = [x*y for x,y in zip(a,b)]

# for i,j in zip(a,b):
#     # print(i, j)
#     c.append(i*j)
print(c)

[20, 60, 120, 200, 300, 420]

### 문제4-2
아래 두 리스트를 곱해 새로운 리스트 c를 만드세요  
a = [[10,20],[30,40],[50,60]]  
b = [[2,3],[4,5],[6,7]]  
c = [[20,60],[120,200],[300,420]]

In [ ]:
a = [[10,20],[30,40],[50,60]]
b = [[2,3],[4,5],[6,7]]
c = []

# for i,(j,k) in enumerate(zip(a,b)):
#     c.append([])
#     for n1, n2 in zip(j, k):
#         # print(n1, n2)
#         c[i].append(n1*n2)
#     # print(c)
# print(c)

for i, j in zip(a,b):
    d=[]
    for n1, n2 in zip(i,j):
        d.append(n1*n2)
    c.append(d)
print(c)

[[20, 60], [120, 200], [300, 420]]

### 문제5
리스트 A = [[10,20],[30,40],[50,60]] 가 있을 때, 리스트 A가

A = [[1, 2], [3, 4], [5, 6]] 가 되기 위한 코드를 작성하세요.

In [ ]:
A = [[10,20],[30,40],[50,60]]

# for i,j in enumerate(A):
#     for n1,n2 in enumerate(j):
#         A[i][n1] = n2//10
# print(A)

for i, j in enumerate(A):
    for k in j:
        n = A[i].pop(0)
        A[i].append(n//10)
    # n = A[i].pop(0)
    # A[i].append(n//10)

print(A)

[[1, 2], [3, 4], [5, 6]]

### 문제6
아래와 같이 정수 데이터가 있는 리스트가 있을 때, 

양수는 10을 곱하여 저장하고,

음수는 양수로 바꿔준뒤 10을 곱하여 저장해서 출력하세요.

In [ ]:
x = [3,6,0, -9,20,-7,5]

# for n, i in enumerate(x):
#     if i > 0:
#         x[n] = i*10
#     elif i < 0:
#         x[n] = i*(-10)
# print(x)

# for i in range(len(x)):
#     if x[i] > 0:
#         x[i] = x[i]*10
#     elif x[i] < 0:
#         x[i] = x[i]*(-10)   
# print(x)

n=0
for i in x:
    if i > 0:
        i *= 10
        x[n] = i
    elif i < 0:
        i *= (-10)
        x[n] = i
    n+=1
print(x)

# 결과값 [30, 60, 0, 90, 200, 70, 50]

[30, 60, 0, 90, 200, 70, 50]

### 문제7
다음과 같이 문자열 데이터가 있는 리스트에서  

글자 수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요.

In [ ]:
word=['school','game','piano','science','hotel','mountian']
new_list = []

for i in word:
    if len(i) >= 6:
        new_list.append(i)

print(new_list)

new_list = [i for i in word if len(i) >= 6]

print(new_list)

#결과값 ['school', 'science', 'mountian']

['school', 'science', 'mountian']
['school', 'science', 'mountian']

### 문제8
아래 코드는 문자열인 name_info를 리스트로 변환하는 코드이다.

name_info 변수 안에서 이름만 골라서 name변수에 담아보세요.

In [ ]:
name_info = '''서연	1	34,562  서윤	2	32,854  지우	3	28,729  서현	4	28,277  민서	5	27,308  하은	6	25,494  하윤	7	24,188
윤서	8	22,914  지민	9	22,244  지유	10	21,650  채원	11	21,406  지윤	12	20,253  은서	13	20,213  수아	14	19,501
다은	15	19,317  예은	16	18,943  수빈	17	18,195  지아	18	17,397  소율	19	17,145  예원	20	16,984  지원	21	16,677
예린	22	16,647  소윤	23	15,968  유진	24	14,787  시은	25	14,734  지안	26	14,513  하린	27	14,069  채은	28	14,057
가은	29	13,839  서영	30	13,651  윤아	31	13,625  민지	32	13,507  유나	33	13,267  예진	34	13,221  수민	35	12,927
수연	36	12,636  연우	37	12,302  예나	38	11,688  예서	39	11,686  주아	40	11,550  시연	41	11,489  서아	42	11,462
연서	43	11,136  현서	44	10,578  하율	45	10,545  다연	46	10,543  다인	47	10,503  아인	48	10,249  서은	49	10,180
서진	50	9,946  유빈	51	9,870  하연	52	9,798  유주	53	9,755  채윤	54	9,752  수현	55	9,732 시아	56	9,715  서율	57	9,586
지율	58	9,528  서우	59	9,467  예지	60	9,431  나윤	61	9,294  아린	62	9,154  다현	63	9,149  민주	64	8,807  지은	65	8,701
나연	66	8,602  소은	67	8,520  윤지	68	8,518  시현	69	8,497  예빈	70	8,431  지현	71	8,369  사랑	72	8,367  소연	73	8,341
혜원	74	7,988  서하	75	7,902  지수	76	7,876  은채	77	7,841  나은	78	7,796  주하	79	7,713  승아	80	7,452  아윤	81	7,446
서희	82	7,150  나현	83	7,096  소민	84	7,081  채아	85	7,073  민아	86	7,054  다윤	87	6,974  채린	88	6,965  세은	89	6,961
하영	90	6,906  도연	91	6,853  규리	92	6,812  아영	93	6,785  세아	94	6,602  지연	95	6,533  예림	96	6,480  가윤	97	6,433
태희	98	6,297  민채	99	6,260  주은	100	6,194'''

name_info = name_info.replace('\t', ' ') # tab을 공백으로 대체한다.
name_info = name_info.split() # 공백 또는 \n(개행문자)를 기준으로 쪼개, 리스트로 만든다.
print(name_info)

#결과값 : ['서연', '1', '34,562', '서윤', '2', '32,854', '지우', '3', '28,729', '서현', '4', '28,277', '민서', '5', '27,308', '하은', '6', '25,494', '하윤', '7', '24,188', '윤서', '8', '22,914', '지민', '9', '22,244', '지유', '10', '21,650', '채원', '11', '21,406', '지윤', '12', '20,253', '은서', '13', '20,213', '수아', '14', '19,501', '다은', '15', '19,317', '예은', '16', '18,943', '수빈', '17', '18,195', '지아', '18', '17,397', '소율', '19', '17,145', '예원', '20', '16,984', '지원', '21', '16,677', '예린', '22', '16,647', '소윤', '23', '15,968', '유진', '24', '14,787', '시은', '25', '14,734', '지안', '26', '14,513', '하린', '27', '14,069', '채은', '28', '14,057', '가은', '29', '13,839', '서영', '30', '13,651', '윤아', '31', '13,625', '민지', '32', '13,507', '유나', '33', '13,267', '예진', '34', '13,221', '수민', '35', '12,927', '수연', '36', '12,636', '연우', '37', '12,302', '예나', '38', '11,688', '예서', '39', '11,686', '주아', '40', '11,550', '시연', '41', '11,489', '서아', '42', '11,462', '연서', '43', '11,136', '현서', '44', '10,578', '하율', '45', '10,545', '다연', '46', '10,543', '다인', '47', '10,503', '아인', '48', '10,249', '서은', '49', '10,180', '서진', '50', '9,946', '유빈', '51', '9,870', '하연', '52', '9,798', '유주', '53', '9,755', '채윤', '54', '9,752', '수현', '55', '9,732', '시아', '56', '9,715', '서율', '57', '9,586', '지율', '58', '9,528', '서우', '59', '9,467', '예지', '60', '9,431', '나윤', '61', '9,294', '아린', '62', '9,154', '다현', '63', '9,149', '민주', '64', '8,807', '지은', '65', '8,701', '나연', '66', '8,602', '소은', '67', '8,520', '윤지', '68', '8,518', '시현', '69', '8,497', '예빈', '70', '8,431', '지현', '71', '8,369', '사랑', '72', '8,367', '소연', '73', '8,341', '혜원', '74', '7,988', '서하', '75', '7,902', '지수', '76', '7,876', '은채', '77', '7,841', '나은', '78', '7,796', '주하', '79', '7,713', '승아', '80', '7,452', '아윤', '81', '7,446', '서희', '82', '7,150', '나현', '83', '7,096', '소민', '84', '7,081', '채아', '85', '7,073', '민아', '86', '7,054', '다윤', '87', '6,974', '채린', '88', '6,965', '세은', '89', '6,961', '하영', '90', '6,906', '도연', '91', '6,853', '규리', '92', '6,812', '아영', '93', '6,785', '세아', '94', '6,602', '지연', '95', '6,533', '예림', '96', '6,480', '가윤', '97', '6,433', '태희', '98', '6,297', '민채', '99', '6,260', '주은', '100', '6,194']

['서연', '1', '34,562', '서윤', '2', '32,854', '지우', '3', '28,729', '서현', '4', '28,277', '민서', '5', '27,308', '하은', '6', '25,494', '하윤', '7', '24,188', '윤서', '8', '22,914', '지민', '9', '22,244', '지유', '10', '21,650', '채원', '11', '21,406', '지윤', '12', '20,253', '은서', '13', '20,213', '수아', '14', '19,501', '다은', '15', '19,317', '예은', '16', '18,943', '수빈', '17', '18,195', '지아', '18', '17,397', '소율', '19', '17,145', '예원', '20', '16,984', '지원', '21', '16,677', '예린', '22', '16,647', '소윤', '23', '15,968', '유진', '24', '14,787', '시은', '25', '14,734', '지안', '26', '14,513', '하린', '27', '14,069', '채은', '28', '14,057', '가은', '29', '13,839', '서영', '30', '13,651', '윤아', '31', '13,625', '민지', '32', '13,507', '유나', '33', '13,267', '예진', '34', '13,221', '수민', '35', '12,927', '수연', '36', '12,636', '연우', '37', '12,302', '예나', '38', '11,688', '예서', '39', '11,686', '주아', '40', '11,550', '시연', '41', '11,489', '서아', '42', '11,462', '연서', '43', '11,136', '현서', '44', '10,578', '하율', '45', '10,545', '다연', '46', '10,543', '다인', '47', '10,503', '아인', '48', '10,249', '서은', '49', '10,180', '서진', '50', '9,946', '유빈', '51', '9,870', '하연', '52', '9,798', '유주', '53', '9,755', '채윤', '54', '9,752', '수현', '55', '9,732', '시아', '56', '9,715', '서율', '57', '9,586', '지율', '58', '9,528', '서우', '59', '9,467', '예지', '60', '9,431', '나윤', '61', '9,294', '아린', '62', '9,154', '다현', '63', '9,149', '민주', '64', '8,807', '지은', '65', '8,701', '나연', '66', '8,602', '소은', '67', '8,520', '윤지', '68', '8,518', '시현', '69', '8,497', '예빈', '70', '8,431', '지현', '71', '8,369', '사랑', '72', '8,367', '소연', '73', '8,341', '혜원', '74', '7,988', '서하', '75', '7,902', '지수', '76', '7,876', '은채', '77', '7,841', '나은', '78', '7,796', '주하', '79', '7,713', '승아', '80', '7,452', '아윤', '81', '7,446', '서희', '82', '7,150', '나현', '83', '7,096', '소민', '84', '7,081', '채아', '85', '7,073', '민아', '86', '7,054', '다윤', '87', '6,974', '채린', '88', '6,965', '세은', '89', '6,961', '하영', '90', '6,906', '도연', '91', '6,853', '규리', '92', '6,812', '아영', '93', '6,785', '세아', '94', '6,602', '지연', '95', '6,533', '예림', '96', '6,480', '가윤', '97', '6,433', '태희', '98', '6,297', '민채', '99', '6,260', '주은', '100', '6,194']

In [ ]:
# name = [name_info[::3]]
# print(name)

# name = []
# name = name_info[::3]
# print(name)

name = []
name.append(name_info[::3])
print(name)

# name_info = name_info[::3]
# print(name_info)

[['서연', '서현', '하윤', '지유', '은서', '예은', '소율', '예린', '시은', '채은', '윤아', '예진', '연우', '주아', '연서', '다연', '서은', '하연', '수현', '지율', '나윤', '민주', '소은', '예빈', '소연', '지수', '주하', '서희', '채아', '채린', '도연', '세아', '가윤', '주은']]

### 문제9
for문과 break를 활용하여,  

1-100까지 숫자중 3과 5의 공배수일 경우 "3과5의공배수",

3의 배수이기만 할 경우 "3의배수",

5의 배수이기만 할 경우 "5의배수",

모두 해당되지 않을 경우 그냥 숫자를 출력하세요.

In [ ]:
for i in range(1,101):
    if i % 5 ==0 and i % 3 == 0:
        print("3과 5의 공배수")
    elif i % 3 == 0 :
        print('3의 배수')
    elif i % 5 == 0 :
        print('5의 배수')
    else:
        print(i)

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5의 공배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과 5의 공배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과 5의 공배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과 5의 공배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과 5의 공배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수

### 문제10
for문을 이용해서 구구단(2단~9단)을 만들어 보세요.

<출력결과>

2 단

2 x 1 = 2

2 x 2 = 4

2 x 3 = 6

...

In [ ]:
for i in range(2, 10):
    print(i, '단')
    for j in range(1, 10):
        print(i, 'x', j, '=', i*j)
    print()

2 단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### 문제 11
다음과 같이 음료 이름과 가격 데이터가 있는 딕셔너리가 있을 때,

아래와 같이 출력되도록 코드를 작성하세요.

<출력결과>

아메리카노 : 3000 원

...

In [ ]:
cafe = {'아메리카노' : 3000, '라떼' : 4000, '차' : 4500, '스무디' : 5000}

for k, v in cafe.items():
    print(k, ':', v,'원')

아메리카노 : 3000 원
라떼 : 4000 원
차 : 4500 원
스무디 : 5000 원

### 문제12
다음과 같이 과목에 따른 성적 데이터가 있는 딕셔너리가 있을 때, 

각 점수에 10을 더한 값으로 다시 저장한 뒤, 딕셔너리를 출력해보세요.

In [ ]:
score = {'math':70, 'science':80, 'english':20}

for k in score.keys():
    print(k, score[k])
    score[k] += 10

print(score)

#결과값 {'math': 80, 'science': 90, 'english': 30}

math 70
science 80
english 20
{'math': 80, 'science': 90, 'english': 30}

### 문제13
while문과 cnt변수(인덱스역할)를 이용하여,

다음 리스트의 요소들을 출력해보세요.

In [ ]:
season = ['봄', '여름', '가을', '겨울']
cnt = 0

while cnt < len(season):
    print(season[cnt], cnt)
    cnt+=1

봄 0
여름 1
가을 2
겨울 3

### 문제14

while문을 이용해서 구구단(2단~9단)을 만들어 보세요.

<출력결과>

2 단

2 x 1 = 2

2 x 2 = 4

2 x 3 = 6

...

In [ ]:
n = 2
while n<10:
    print(n, '단')
    for i in range(1,10):
        print(n, 'x', i, '=', i*n)
    n+=1
    print()

2 단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### 문제15
다음과 같이 이름, 성별, 나이 데이터가 있는 리스트가 있을 때,

while문을 이용하여 '여자' 데이터를 갖고 있는 사람의 이름을 출력해보세요. 

신원미상인 경우 '(이름)의 성별을 알 수 없습니다'를 출력하고,

break를 사용하여 반복문을 중단하세요.

In [ ]:
info = [['김지수', '남자', 24], ['이지현', '여자', 23], ['김보라', '여자', 25],
        ['최수빈', '신원미상', 24], ['김재현', '남자', 22], ['이예진', '여자', 25]]
cnt = 1

while 1:
    if info[cnt-1][1] == '여자':
        print(info[cnt-1][0])
    elif info[cnt-1][1] == '신원미상':
        print(info[cnt-1][0], '의 성별을 알 수 없습니다')
    cnt += 1
    if cnt >= len(info):
        break

이지현
김보라
최수빈 의 성별을 알 수 없습니다